<%= form_for(@live_hotel) do |f| %>
  <% if @live_hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@live_hotel.errors.count, "error") %> prohibited this live_hotel from being saved:</h2>

      <ul>
      <% @live_hotel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
