

<head>

</head>
<body>
  

  %%VIEW_URL_UNESC%%
%%CLICK_URL_UNESC%% 

<a href="https://www.livingsocial.com/properties/<%= sbs[1] %>">  
  
  <div class="ad_unit">
    
    <div class="img_holder">
      <img src="<%= sbs[8] %>/150_q60.jpg">
      <div class="savings">
        <div class="deal-location">
          49% savings
        </div>
      </div>
    </div>
    <div class="txt_holder">
      <h1><%= sbs[3] %></h1>
      <h2></h2>      
      <p class="meta">
        <span class="btn">&raquo;</span>
      </p>
    </div>
  </div>  
</a>

